{% extends "base.html" %}

    
    {% block content %}
    <div>
        <h2>You can smile</h2>
    </div>
    <div class="card-group" style="width:80rem;margin:1rem;padding:10px;">
        <div class="card">
            <img class="card-img" src="{{ url_for('video') }}">
          <div class="card-body">
            <h5 class="card-title">Original</h5>
            <p class="card-text"></p>
            <form action="/submitform" method="post" enctype="multipart/form-data">
                <button id="button-load-image" type="submit" class="btn btn-primary" style="width:20%;margin-top: 20px;">Predict</button>
            </form>
          </div>
        </div>
    </div>
    {% endblock %}